.footer {
  width: 100%;
  background-color: #98235a;  /* Dark background for footer */
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: block;
}

.footer-details {
  display: block;  /* Always display the details */
  padding-top: 10px;
  margin-top: 10px;
}

h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
  margin: 5px 0;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
